body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0F0F0F;
  color: #FFFFFF;
}

.gold {
  color: #B8962E;
}
.button-gold {
  background-color: #D4AF37; 
  color: #0F0F0F; 
  border: none;
  padding: 12px 20px;
  cursor: pointer;
    border-radius: 6px;

  transition: all 0.1s ease; 
}

.button-gold:hover {
  background-color: #D4AF37; /* keep gold or you can change */
  color: white;
  box-shadow: 0 0 5px 1px #FFFFFF; /* white glow shadow */
  transform: scale(1.05); /* optional for extra effect */
}
/* Login Page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: calc(100vh - 80px); /* full page minus navbar */
  background-color: #0F0F0F;
}

.login-form {
  background-color: #1A1A1A;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgb(213, 174, 43);
  width: 400px;
  text-align: center;
}

.login-title {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  color: #FFFFFF;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #0F0F0F;
  color: #FFFFFF;
  border: 1px solid #333;
  transition: all 0.3s ease;
}

.form-input:focus {
  border: 1px solid #D4AF37;
  box-shadow: 0 0 8px #D4AF37;
}

.login-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.login-btn:hover {
  box-shadow: 0 0 15px 3px #FFFFFF;
  transform: scale(1.05);
}
